@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    string isEditable = HttpContextAccessor.HttpContext.Session.GetString("isEditable");
}

<section class="container-fluid main-header" id="home">
    <div class="row">
        <div class="col-lg-7 col-lg-offset-5">
            <div class="row">
                <p class="header-text-greeting col-xs-12">Hi</p>
            </div>
            <div class="sub-text-box row">
                <p class="sub-text col-xs-12">@Html.Raw(Model.HomePage.Header.TitleText)<span class="quicksand-dark-38-lightgreen"></span></p>
            </div>
        </div>
    </div>
</section>
<section id="header" class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-11">
            <p class="green-header">
                <span class="mont-semibold-dark-36 have-questions-heading">Have questions? Send us a text!</span>
                <span class="quicksand-dark-36-main">@Model.HomePage.Header.PhoneNumber</span>
            </p>
        </div>
    </div>
</section>

@if (@isEditable == "true")
{
    <div class="row text-center ">
        <a class="btn btn-success editableButton" href="/home/EditHeader" role="button">Edit Header Section</a>
        <hr />
    </div>
}

<section class="container-fluid services">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="services-heading">Services</h4>
            <p class="mont-light-light-22 about-services">@Model.HomePage.Services.MainText</p>
        </div>
    </div>
    <div class="row">
        <div class="boxes">
            <div class="col-lg-4">
                <article class="panel">
                    <section class="panel-img-container">
                        <img src="~/images/@Model.HomePage.Services.Service1.Image" alt="@Model.HomePage.Services.Service1.Title" class="panel-img" />
                    </section>
                    <section>
                        <p class="quicksand-light-32 panel-heading">@Model.HomePage.Services.Service1.Title</p>
                    </section>
                    <section>
                        <p class="mont-light-light-18 panel-summary">@Model.HomePage.Services.Service1.Description</p>
                    </section>
                    <section class="panel-footer">
                        <p class="quicksand-light-24-green"><a href="@Model.HomePage.Services.Service1.Link">Learn more ></a></p>
                    </section>
                </article>
            </div>
            <div class="col-lg-4">
                <article class="panel">
                    <section class="panel-img-container">
                        <img src="~/images/@Model.HomePage.Services.Service2.Image" alt="@Model.HomePage.Services.Service2.Title" class="panel-img" />
                    </section>
                    <section>
                        <p class="quicksand-light-32 panel-heading">@Model.HomePage.Services.Service2.Title</p>
                    </section>
                    <section>
                        <p class="mont-light-light-18 panel-summary">@Model.HomePage.Services.Service2.Description</p>
                    </section>
                    <section class="panel-footer">
                        <p class="quicksand-light-24-green"><a href="@Model.HomePage.Services.Service2.Link">Learn more ></a></p>
                    </section>
                </article>
            </div>
            <div class="col-lg-4">
                <article class="panel">
                    <section class="panel-img-container">
                        <img src="~/images/@Model.HomePage.Services.Service3.Image" alt="@Model.HomePage.Services.Service3.Title" class="panel-img van-img" />
                    </section>
                    <section>
                        <p class="quicksand-light-32 panel-heading">@Model.HomePage.Services.Service3.Title</p>
                    </section>
                    <section>
                        <p class="mont-light-light-18 panel-summary">@Model.HomePage.Services.Service3.Description</p>
                    </section>
                    <section class="panel-footer">
                        <p class="quicksand-light-24-green"><a href="@Model.HomePage.Services.Service3.Link">Learn more ></a></p>
                    </section>
                </article>
            </div>
        </div>
    </div>
</section>

@if (@isEditable == "true")
{
    <div class="row text-center ">
        <a class="btn btn-success editableButton" href="~/home/EditServices" role="button">Edit Services Section</a>
        <hr />
    </div>
}

    <article class="container-fluid purpose-box">
        <section class="row purpose col-xs-12">
            <div class="row purpose-title">
                <h2 class="h2-white">OUR</h2>
                <h2 class="h2-green">PURPOSE</h2>
            </div>
            <div class="row purpose-detail">
                <div class="col-xs-12 no-padding">
                    <p class="montlight-dark-32">@Model.HomePage.Purpose.TextArea1</p>
                </div>
            </div>
            <div class="row purpose-stats">
                <div class="col-xs-12">
                    <p>@Html.Raw(Model.HomePage.Purpose.TextArea2)</p>
                    @*<p><span class="alt-color">7,085</span> MEALS SERVED. <span class="alt-color">511</span> DROP-IN SERVICES.</p>
                    <p><span class="alt-color">245</span> STREET OUTREACH HOURS. <span class="alt-color">64</span> SHELTERED YOUTH.</p>*@
                </div>
            </div>
        </section>

        <section class="row sponsor-bar">
            <div class="col-xs-12 col-lg-3">
                <p class="partner-text">Our Partners</p>
            </div>
            <div class="col-xs-12 col-lg-3 ">
                <div class="partner-logo">
                    <img src="~/images/@Model.HomePage.Purpose.PartnerImage1" alt="@Model.HomePage.Purpose.PartnerImage1" class="mckay" />
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="partner-logo">
                    <img src="~/images/@Model.HomePage.Purpose.PartnerImage2" alt="@Model.HomePage.Purpose.PartnerImage2" class="thegroup" />
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="partner-logo">
                    <img src="~/images/@Model.HomePage.Purpose.PartnerImage3" alt="@Model.HomePage.Purpose.PartnerImage3" class="giv" />
                </div>
            </div>
        </section>
        @if (@isEditable == "true")
    {
        <div class="row text-center ">
            <a class="btn btn-success editableButton" href="~/home/EditPurpose" role="button">Edit Purpose Section</a>
            <hr />
        </div>
}
        <section class="row purpose-user">
            <div class="purpose-boxes">
                <div class="col-lg-4">
                    <article class="panel">
                        <section class="panel-img-container">
                            <img src="~/images/@Model.HomePage.BottomHomePage.Service1.Image" alt="@Model.HomePage.BottomHomePage.Service1.Title" class="panel-img" />
                        </section>
                        <section>
                            <p class="panel-heading">@Model.HomePage.BottomHomePage.Service1.Title</p>
                        </section>
                        <section>
                            <p class="mont-light-light-22 panel-summary">@Model.HomePage.BottomHomePage.Service1.Description</p>
                        </section>
                        <section class="panel-footer">
                            <p class="quicksand-light-24-green"><a href="@Model.HomePage.BottomHomePage.Service1.Link">Volunteer Now ></a></p>
                        </section>
                    </article>
                </div>
                <div class="col-lg-4">
                    <article class="panel">
                        <section class="panel-img-container">
                            <img src="~/images/@Model.HomePage.BottomHomePage.Service2.Image" alt="@Model.HomePage.BottomHomePage.Service2.Title" class="panel-img" />
                        </section>
                        <section>
                            <p class="panel-heading">@Model.HomePage.BottomHomePage.Service2.Title</p>
                        </section>
                        <section>
                            <p class="mont-light-light-22 panel-summary">@Model.HomePage.BottomHomePage.Service2.Description</p>
                        </section>
                        <section class="panel-footer">
                            <p class="quicksand-light-24-green"><a href="@Model.HomePage.BottomHomePage.Service2.Link">Read the Stories ></a></p>
                        </section>
                    </article>
                </div>
                <div class="col-lg-4">
                    <article class="panel">
                        <section class="panel-img-container">
                            <img src="~/images/@Model.HomePage.BottomHomePage.Service3.Image" alt="@Model.HomePage.BottomHomePage.Service3.Title" class="panel-img" />
                        </section>
                        <section>
                            <p class="panel-heading">@Model.HomePage.BottomHomePage.Service3.Title</p>
                        </section>
                        <section>
                            <p class="mont-light-light-22 panel-summary">@Model.HomePage.BottomHomePage.Service3.Description</p>
                        </section>
                        <section class="panel-footer">
                            <p class="quicksand-light-24-green"><a href="@Model.HomePage.BottomHomePage.Service3.Link">View All Events ></a></p>
                        </section>
                    </article>
                </div>
            </div>
        </section>
        @if (@isEditable == "true")
        {
            <div class="row text-center ">
                <a class="btn btn-success editableButton" href="~/home/EditBottomHomePage" role="button">Edit Bottom Home Page Section</a>
                <hr />
            </div>
        }

    </article>
